@import './base.scss';

body {
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: Montserrat, 'Futura Medium', Overpass, sans-serif;
    background-attachment: fixed;
    background-image: radial-gradient(100% 100% at -22% -14%, #1D38C2FF 0%, #FF000000 85%),radial-gradient(100% 100% at 116% 118%, #1D38C2FF 0%, #FF000000 85%),linear-gradient(0deg, #1E1E20FF 0%, #111010FF 94%);
}